/* #Header contains my name at the top of the page */
#Header {
    font-size: 50px;
    text-decoration: green;
    justify-content: center;
    display: flex;
}

/* nav contains the hyperlinks that jump to different sections of the code */
.Nav {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    border-style: solid;
    border-color: gray;
    border-width: 10px;
}

/* the #Aboutme Id is used to hold the image and text box describing me */
#Aboutme{ 
    display: inline-block;
    border-width: 12px;
    border-style: solid;
    border-color: black;
    height: 400px;
    width: 100%;
    text-align: center;
}

/* my photo on the page */
.Abtmeimg{
    width: 250px;
    height: 250px;
    float: left;
}

/* title above the text box explaining who I am */
#Abtme-title-container{
    font-size: 30px;
    margin-top: 0;
    
}
/* these are the properties of the p tag underneath the title */
.abtmeptag{
    width: 43%;
    margin-left: 35%;
}

/* container holding placeholders of future projects */
#Projects{
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    height: 500px;
    width: auto;
    justify-content: center;

}

/* container holding my email, github, and linkedin */
#References{
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 12px;
    height: 400px;
    width: auto;
    font-size: 30px;
    justify-content: space-evenly;
    align-items: center;
}

/* text above the placeholders in my project section */
.Projectitle{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: underline;
    height: 5px;
    margin-top: 15px;

}


/* under construction image inside of project section */
.img1{
    display: inline-block;
    height: 400px;
    width: 520px;
    border-color: silver;
    border-width: 15px;
    border-style: solid;
    justify-content: center;
}

/* pizza in the clouds image inside of project section */
.img2{
    display: inline-block;
    height: 400px;
    width: 520px;
    border-color: silver;
    border-width: 15px;
    border-style: solid;
    justify-content: center;
}

/* hamburger image inside of project section */
.img3{
    display: inline-block;
    height: 400px;
    width: 520px;
    border-color: silver;
    border-width: 15px;
    border-style: solid;
    justify-content: center;
}
